doctype html
html
 head
  title Bhavya Dance Academy
  block scripts
  block style
 body
  nav#navbar
   ul
    div#logo
     img(src="https://cdn.pixabay.com/photo/2016/04/01/09/52/carefree-1299639_1280.png")
     | BDA
    li #[a(href="/") Home]
    li #[a(href="/") About Us]
    li #[a(href="/") Services]
    li #[a(href="/contact") Contact Us]
  block content
  footer#footer
   | Copyright &copy 2020-21 Bhavya Dance Academy.All rights reserved.